body {margin:0;background-color: #000; font-family:Helvetica, Arial, sans-serif; font-size:14px; color: #fff; line-height:16px;}

a {color:#8dc500;text-decoration:none;}
a:hover {color:#fff;}

p {margin-bottom:10px;}

h1 {font-size: 20px; color:#8dc500; text-transform:uppercase;font-weight:normal; margin-bottom:5px;font-family: 'Ubuntu', arial, serif;letter-spacing:-1px;}
#home h1 {font-size:18px;}

h2 {font-size:14px;color:#fff;font-weight:bold;text-transform:uppercase;margin-bottom:10px;}

.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}

.min-width {width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 1000)? "1000px" : "100%"); min-width:1000px; background:url(../_images/bg.jpg) top center no-repeat;}
#container {margin:0 auto;width:1000px; padding-top:8px;}

/*** Navigation Styles ***/

#navigation {float:right;}
#navigation li {float:left;border-right:1px solid #355485;filter:alpha(opacity=80); opacity:0.8;}
#navigation li a {display:block;text-transform:uppercase; color:#fff;line-height:10px;font-weight:bold; font-size:10px;padding:40px 7px 10px 27px; text-decoration:none;}
#navigation li a:focus, #navigation li a:active {color:#FF0;}
#navigation li a:hover {background-color:#276fed;}

/*** Content Area Styles ***/

#contentcontainer {margin-top:340px; width:1000px;}

#content {width:718px; padding:0 10px; float:right;}
#content .hmimg {border:4px solid #000; margin-right:10px;}

#content div.eventreg {clear:both;width:100%;margin:40px 0;color:#8dc500;font-size:16px;}
#content div.eventreg>div {margin-top:15px;}
#content div.callout {}
#content div.callout h2 {margin-bottom:0;color:#fff;}

#upcoming {margin-top:20px;}
#upcoming li {float:left;width:30%;line-height:14px;font-size:10px;padding-bottom:10px;border:3px solid #272727;color:#ccc;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin: 0 10px 20px 0;}
#upcoming li div.event {padding:10px;background: -moz-linear-gradient(
		top,
		#276fed 0%,
		#0b3681);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#276fed),
		to(#0b3681));
		-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;}
#upcoming li span.date {font-size:14px;text-transform:uppercase;color:#272727;display:block;font-weight:bold;}
#upcoming li a.title {font-size:18px;color:#fff;text-shadow:#039 1px 1px 2px;margin-left: 0;}
#upcoming li span.description {margin:15px 10px;font-size:11px;color:#ccc;display:inline-block;}
#upcoming li a {margin-left:23px;}
#upcoming li div.event-logo {
	margin-top: 10px;
	text-align: center;
}

/*** Sidebar Styles ***/

#sidebar {width:262px; float:left;}

#sidebar a.calendar {background: transparent url(../_images/calendar.png) 0 0 no-repeat;display:block;width:251px; height:82px;}
#sidebar a.calendar:hover, #sidebar a.getsocial:hover {filter:alpha(opacity=90); opacity:0.9;}

#sidebar a.getsocial {width:65px;height:66px; float:left;margin: 20px 0 20px 15px;}
#sidebar a.twitter {background: transparent url(../_images/getsocial.png) top right no-repeat;}
#sidebar a.facebook {background: transparent url(../_images/getsocial.png) 0 0 no-repeat;}
#sidebar a.myspace {background: transparent url(../_images/getsocial.png) top center no-repeat;}

#sidebar #newsletter, #sidebar #sponsors {width:236px;padding-top:90px; padding-left:15px; margin-bottom:20px;margin-top:20px;}

#sponsors { /*background:transparent url(../_images/sponsorsbg.jpg) 0 0 no-repeat;*/padding:20px 0;}
#sponsors img {margin: 10px 5px; width:50px;height:50px;float:left;}

#sidebar #newsletter {height:153px; background:transparent url(../_images/newsletterbg.jpg) 0 0 no-repeat;}

/*** Footer Styles ***/

#footer {background:#000 url(../_images/footerbg.jpg) center bottom no-repeat; margin-top:20px;font-size:9px; text-align:center; padding:70px 160px 10px;}
#footer p {text-align:center;}
#footer a.footnav {margin:20px 10px 0 10px; text-transform:uppercase;font-size:9px;color:#fff;text-decoration:none;}
#footer a.footnav:hover {color:#8dc500;}
#footer .copyright {text-transform:uppercase;text-align:center;}
#footer .copyright a {color:#fff;}
#footer .copyright a:hover {text-decoration:underline;}

/*** Form and Button Styles ***/

a.viewmore, .registrationDeadlineLabel a {	display:inline-block;font-family: Arial, Helvetica, sans-serif;	font-size: 14px;font-weight:bold;	color: #fff;	padding: 7px 16px;
	background: -moz-linear-gradient(
		top,
		#8dc500 0%,
		#6b9402);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#8dc500),
		to(#6b9402));
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #80b300;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.3),
		0px 1px 0px rgba(255,255,255,0.3);
}

a.viewmore:hover, .registrationDeadlineLabel a:hover {filter:alpha(opacity=90); opacity:0.9;}

input, textarea {width:300px;border:0;border:1px solid #276fed;padding:10px;color:#ccc;font-size:13px;	margin-bottom:2px;font-family:Arial, Helvetica, sans-serif;background-color:#000;filter:alpha(opacity=40); opacity:0.4;}
input:focus, textarea:focus,input:hover, textarea:hover {color:#fff;filter:alpha(opacity=100); opacity:1.0;}
button {padding:20px;border:0;background-color:#276fed; color:#fff; margin-top:10px;-moz-border-radius: 10px;	-webkit-border-radius: 10px;}

#newsletter input{width:206px;border:0;padding:5px;color:#999;font-size:11px;margin-bottom:2px;font-family:Arial, Helvetica, sans-serif;}
#newsletter button {width:206px;height:25px;padding:2px;	color:#fff;	font-weight:bold;background-color:#355485;font-size:12px;margin:4px 0;font-family:Arial, Helvetica, sans-serif;	-moz-border-radius: 10px;	-webkit-border-radius: 10px;}
#newsletter button:hover {background-color:#28475E;	color:#fff;}
